@font-face {
    font-family: "ZoomlaXSongExtraLight";
    src: url("ZoomlaXSongExtraLight.eot"); /* IE9 */
    src: url("ZoomlaXSongExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("ZoomlaXSongExtraLight.woff") format("woff"), /* chrome、firefox */
    url("ZoomlaXSongExtraLight.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("ZoomlaXSongExtraLight.svg#ZoomlaXSongExtraLight") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


