@font-face {
    font-family: "ZoomlaXingtiJ2";
    src: url("ZoomlaXingtiJ2.eot"); /* IE9 */
    src: url("ZoomlaXingtiJ2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("ZoomlaXingtiJ2.woff") format("woff"), /* chrome、firefox */
    url("ZoomlaXingtiJ2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("ZoomlaXingtiJ2.svg#ZoomlaXingtiJ2") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


